{%extends 'base.html'%} {% block content %}

<h2>Esta é a página de games</h2>
<h3>Jogo de destaque</h3>
<ul>
	<li>Título: <strong>{{title}}</strong></li>
	<li>Ano: <strong>{{year}}</strong></li>
	<li>Categoria: <strong>{{category}}</strong></li>
</ul>
<p>O jogo {{title}} tem {{2025 - year}} anos.</p>

{# esse é o comentário em jinja2 #}

<h3>Top players</h3>
<ol>
	{% for player in players %}
	<li>{{player}}</li>
	{% endfor %}
</ol>

<form action="{{url_for('games')}}" method="post">
	<label for="player">Jogador:</label>
	<input type="text" name="player" />
	<input type="submit" value="Entrar" />
</form>

<h4>Console mais bem avaliado</h4>
{%for key, value in console.items()%} {{key}}: {{value}} {%endfor%} {% endblock
%}
