{% extends 'base.html' %} {% block content %}
<section class="text-center py-5">
	<h1 class="display-4 mb-3">
		Bem-vindo à <span class="text-warning">Spark Fashion</span>
	</h1>
	<p class="lead mb-4">
		Moda que brilha com você. Cadastre e descubra nossos produtos
		exclusivos!
	</p>
	<div>
		<a href="{{ url_for('clientes') }}" class="btn btn-warning btn-lg me-3"
			>Clientes</a
		>
		<a href="{{ url_for('novoproduto') }}" class="btn btn-secondary btn-lg"
			>Cadastrar Produto</a
		>
	</div>
</section>
{% endblock %}
