{% extends 'base.html' %} {% block content %}
<div class="container">

    <h2>Produtos Registrados</h2>
    <div class="cards">
        {% for product in productlist %}
        <div class="card">
            <h3 class="text-trunk1">{{ product.Produto }}</h3>
            <p><strong>Categoria:</strong> {{ product.Categoria }}</p>
            <p><strong>Modelo:</strong> {{ product.Modelo }}</p>
            <p><strong>Tamanhos:</strong> {{ product.Tamanhos }}</p>
        </div>
        {% endfor %}
    </div>

    <a href="{{ url_for('home') }}" class="btn-secondary">Voltar ao início</a>
</div>
{% endblock %}
